*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family:'Times New Roman', Times, serif;
    height: 300vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(anh/God-of-War-Ragnarok-Sequel.webp);
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    height: 10vhb;
    background-position: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    width: 300px;
    height: 10vh;
    background-color: aquamarine;
    display: flex;
    font-weight: 600;
    align-items: center;
    color: white;
    clip-path: polygon(0 0,100% 0,64% 100%,0% 100%);
    padding: 10px;
    line-height: 1,3rem;
    opacity: 0.65;
}
.logo:hover{
    background-color: chocolate;
    color: black;
}
.logo ion-icon{
    font-size: 50px;
}
.logo p{
    width: 150px;
    font-size: 25px;
}
ul.navbar{
    display: flex;
    list-style: none;

}
ul.navbar li{
    width: 160px;
    margin-left: 10px;
}
ul.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 5px 5px 10px black;
}
ul.navbar li a.active{
    color: aqua;
}
ul.navbar li a:hover:not(.active){
    color: aqua;
}
.btn{
    width: 300px;
    height: 10vh;
    background-color: chocolate;
    color: white;
    outline: none;
    border: none;
    clip-path: polygon(35% 0,100% 0,100% 100%,0 100%);
    font-size: 25px;
    opacity: 0.65;
    font-weight: bold;
    padding-right: 45px;
    text-align: right;
}
#btn:hover{
    background-color: aquamarine;
    color: black;
}
#btn ion-icon{
}
.content-wrapper{
    width: 100%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 50px;
}
.content-desc h1{
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px black;
}
.content-desc p{
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px black;
}
#btn2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background-color: chocolate;
    color: white;
    opacity: 0.65;
    font-weight: 700;
    margin-top: 15px;
    clip-path: polygon(0 0,74% 0,100% 100%,0 100%);
    border-radius: 20px;
    text-align: left;
    font-size: 35px;
    padding-bottom: 5px;
    padding-left: 50px;
}
#btn2:hover{
    background-color: aquamarine;
    color: black;
}
.image{
    width: 700px;
    height: 600px;
    position: relative;
}
.image::after{
    content: '';
    width: 500px;
    height: 600px;
    background: url('anh/fuck-removebg-preview.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    right:50px;
    opacity: 0.7;
}
.logo-section{
    display:flex;
    text-align: center;
    align-items: center;
    color: white;
    opacity: 0.65;
    width: 100%;
    padding-left: 600px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
}
.logo-section ion-icon{
    font-size: 6rem;
    color: white;
}
.section1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.767),rgba(0,0,0,0.767)),url(anh/game2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section1-wrapper{
    width: 70%;
    margin: auto;
}
.section1 h1{
    padding-top: 30px;
    font-size: 1.5rem;
    color: white;
    font-weight: 450;
    text-shadow: 5px 5px 10px black;
}
.section-1-img{
    display: flex;

}
.section-1-img .img{
    width: 250px;
    height: 170px;
    background: url(anh/god-of-war-ragnarok-1.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 10px;

}
.section-1-img .img2{
    background: url(anh/gam3.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img .img3{
    background: url(anh/gam9.webp);
    background-size: cover;
    background-position: center;
}
.section-1-img .img4{
    background: url(anh/game6.jpg);
    background-size: cover;
    background-position: center;
}
.img:hover{
    transform: translateY(-10px);
}

.section-1-img .img5{
    background: url(anh/chesslg.png);
    background-size: cover;
    background-position: center;
}
.section-1-img .img6{
    background: url(anh/cotuong.png);
    background-size: cover;
    background-position: center;
}
.section-1-img .img7{
    background: url(anh/sudoku.png);
    background-size: cover;
    background-position: center;
}
.section-1-img .img8{
    background: url(anh/unnamed.png);
    background-size: cover;
    background-position: center;
}
.section-1-img .img9{
    background: url(anh/flap.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img .img10{
    background: url(anh/cotuong.png);
    background-size: cover;
    background-position: center;
}
.section-1-img .img11{
    background: url(anh/sudoku.png);
    background-size: cover;
    background-position: center;
}
.section-1-img .img12{
    background: url(anh/conhay.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img .img13{
    background: url(anh/flap.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img .img14{
    background: url(anh/xe.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img .img15{
    background: url(anh/space.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img .img16{
    background: url(anh/pokemon.jpg);
    background-size: cover;
    background-position: center;
}
.section2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.767),rgba(0,0,0,0.767)),url(anh/br2.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.65px;
}
.section2 h1{
    padding-top: 30px;
    font-size: 1.5rem;
    color: white;
    font-weight: 450;
    text-shadow: 5px 5px 10px black;
}
/*login form */
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background-color: transparent;
    opacity: 0.9;
    border: 2px solid gray;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px gray;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper.active{
    height: 520px;

}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: gray;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: gray;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: gray;
    font-weight: 500;
    pointer-events: none;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: gray;
    font-weight: 600;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: gray;
    line-height: 57px;
}
.remember{
    font-size: .9em;
    color: gray;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember label input{
    accent-color: gray;
    margin-right: 3px;
}
.remember a{
    color: gray;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
    color: aquamarine;
}
.btn-2{
    width: 100%;
    height: 45px;
    background: gray;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: gray;
    text-align: center;
    margin: 25px 0 10px;
}
.login-register p a{
    color: gray;
    text-decoration: none;
    font-weight: 600;

}
.login-register p a:hover{
    text-decoration: underline;
    color: aquamarine;
}
